
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add your global styles, including theme-specific styles */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.light {
  background-color: #ebeaea;
  color: #000;
}

body.dark {
  background-color: rgb(23 23 23);
  color: #f1f1f1;
}

/* Add this to your CSS */
.z-0 {
  z-index: 0 !important; /* Set to a lower value than .TE */
}
.z-5{
  z-index: 555 !important; 
}