
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add your global styles, including theme-specific styles */
body.light {
  background-color: #ebeaea;
  color: #000;
}

body.dark {
  background-color: rgb(23 23 23);
  color: #f1f1f1;
}
